/*NORMALIZE*/
@import "normalize";

/*FONTS*/
$openSans : 'Open Sans', sans-serif;

/*COLORS*/
$grey : #292929;
$red : #c11e12;
$lightGrey : #b3b2b2;
$sepia: #d4c9b8;

/*LAYOUTS & RESPONSIVE*/
@import "layouts";
@import "responsive";